In [1]:
import numpy as np
import pandas as pd

In [326]:
df = pd.read_csv('./MNSite3Synaptograms.csv', header=1, index_col=0)

In [15]:
df = df[df.NotSynapse == 0]

In [327]:
df.head()

,Nz,figure,height,id,maxX,maxY,maxZ,minX,minY,minZ,...,shaft,NotSynapse,nofigure,edgesynapse,enface synapse,PSD positive,comments FC,comments MN,Unnamed: 24,Unnamed: 25
0,10,/nas3/data/M247514_Rorb_1/processed/Site3Synap...,419.0,0,7131.0,6734.0,35,6766.0,6316.0,25,...,0,0,False,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,6,/nas3/data/M247514_Rorb_1/processed/Site3Synap...,376.0,1,7535.0,5923.0,49,7171.0,5548.0,43,...,0,0,False,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,5,/nas3/data/M247514_Rorb_1/processed/Site3Synap...,399.7,2,7579.6,7233.1,4,7258.4,6834.4,-1,...,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,1786.3,3,8470.7,7422.7,6,7349.0,5637.4,2,...,0,1,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,/nas3/data/M247514_Rorb_1/processed/Site3Synap...,330.0,4,7657.0,5911.0,45,7289.0,5582.0,39,...,1,0,False,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [328]:
cols = ['minX', 'maxX', 'minY', 'maxY', 'minZ', 'maxZ']
dims = df[cols]

In [329]:
dims['minZ'].replace(-1, 0, inplace=True)

/Users/jaewonc78/Envs/nomads/lib/python3.6/site-packages/pandas/core/generic.py:4619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [330]:
dims.iloc[:, :4] /= 32

/Users/jaewonc78/Envs/nomads/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [331]:
dims['centerX'] = (dims['maxX'] + dims['minX']) // 2
dims['centerY'] = (dims['maxY'] + dims['minY']) // 2
dims['centerZ'] = (dims['maxZ'] + dims['minZ']) // 2

/Users/jaewonc78/Envs/nomads/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jaewonc78/Envs/nomads/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jaewonc78/Envs/nomads/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [332]:
dims = dims.astype(np.int)

In [333]:
dims = pd.concat((dims, df.GABA), axis=1)

In [336]:
dims.head()

   minX  maxX  minY  maxY  minZ  maxZ  centerX  centerY  centerZ  GABA
0   211   222   197   210    25    35      217      203       30     0
1   224   235   173   185    43    49      229      179       46     0
2   226   236   213   226     0     4      231      219        2     0
3   229   264   176   231     2     6      247      204        4     0
4   227   239   174   184    39    45      233      179       42     0

In [337]:
dims.to_csv('Site3Synaptograms.csv')

In [13]:
dims = pd.read_csv('Site3Synaptograms.csv', index_col=0)

In [14]:
dims.head()

   minX  maxX  minY  maxY  minZ  maxZ  centerX  centerY  centerZ  GABA
0   211   222   197   210    25    35      217      203       30     0
1   224   235   173   185    43    49      229      179       46     0
2   226   236   213   226     0     4      231      219        2     0
3   229   264   176   231     2     6      247      204        4     0
4   227   239   174   184    39    45      233      179       42     0

In [6]:
from neurodataresource import NeuroDataResource

In [7]:
with open('api_key.txt') as f:
    token = f.readline()
host = 'api.boss.neurodata.io'
collection = 'collman'
experiment = 'M247514_Rorb_1_Site3Align2_LENS_Session1_CROP'

ndr = NeuroDataResource(host, token, collection, experiment)

In [8]:
channels = ['GABA',
             'GAD2',
             'Gephyrin',
             'GluN1',
             'PSD95',
             'synapsin',
             'TdTomato',
             'VGlut1']

In [9]:
ndr.channels

['DAPI1',
 'DAPI2',
 'DAPI3',
 'GABA',
 'GAD2',
 'Gephyrin',
 'GluN1',
 'MBP',
 'PSD95',
 'synapsin',
 'TdTomato',
 'TdTomato_16bit',
 'VGlut1']

In [10]:
def compute_block(size, centroid):
    z_dim, y_dim, x_dim = [(i - 1) // 2 for i in size]
    #z_max, y_max, x_max = max_dimensions

    grid = np.array(
        [-z_dim, z_dim + 1, -y_dim, y_dim + 1, -x_dim, x_dim + 1])
    #dimensions = np.repeat(centroids, 2, axis=1) + grid
    dimension = np.repeat(centroid, 2) + grid
    
    return dimension

In [11]:
def pad_block(block, block_range, max_dim):
    """
    block : nd-array
        3D array cutout from BOSS
    block_range : 1d-array
        in format (minZ, maxZ, minY, maxY, minX, maxX)
    max_dim : 1d-array
        in format (maxZ, maxY, maxX)
    """
    z, y, x = np.split(block_range, 3)
    z_max, y_max, x_max = max_dim

    true_size = np.array((z[1] - z[0],
                          y[1] - y[0],
                          x[1] - z[0]))
    
    block_shape = np.array(block.shape)
    
    if np.any(block_shape < true_size):
        z_ = np.clip(z, a_min=0, a_max=z_max)
        y_ = np.clip(y, a_min=0, a_max=y_max)
        x_ = np.clip(x, a_min=0, a_max=x_max)
        
        block_ = np.pad(block, (np.abs(z - z_), 
                                np.abs(y - y_),
                                np.abs(x - x_)),
                               'constant')
        return block_
    
    else:
        return block

In [15]:
dims.head()

   minX  maxX  minY  maxY  minZ  maxZ  centerX  centerY  centerZ  GABA
0   211   222   197   210    25    35      217      203       30     0
1   224   235   173   185    43    49      229      179       46     0
2   226   236   213   226     0     4      231      219        2     0
3   229   264   176   231     2     6      247      204        4     0
4   227   239   174   184    39    45      233      179       42     0

In [16]:
channels

['GABA',
 'GAD2',
 'Gephyrin',
 'GluN1',
 'PSD95',
 'synapsin',
 'TdTomato',
 'VGlut1']

In [18]:
# Change block size here
block_size = (15, 9, 9)

In [19]:
data = np.empty((len(dims), len(channels), 15, 9, 9), dtype=np.uint8)

In [20]:
data.shape

(1078, 8, 15, 9, 9)

In [21]:
centroids

array([[ 30, 203, 217],
       [ 46, 179, 229],
       [  2, 219, 231],
       ...,
       [ 31, 269, 261],
       [  7, 260, 299],
       [ 19, 204, 314]])

In [27]:
b = np.empty((len(centroids), 6))

In [38]:
for i in range(len(centroids)):
    b[i] = compute_block((15, 9, 9), centroids[i])

In [39]:
out = (b < 0).sum(axis=1) == 1

In [40]:
np.save('15_9_9_edge_mask', out)

In [22]:
z_max, y_max, x_max = ndr.max_dimensions
centroids =  dims[['centerZ', 'centerY', 'centerX']].values
#block_ranges = compute_blocks((11, 11, 11), dims.iloc[:, :6:-1].values)

for idx, channel in enumerate(channels):
    print('Start downloading {} channel'.format(channel))
    for jdx, centroid in enumerate(centroids):
        block_range = compute_block(block_size, centroid)
        z, y, x = np.split(block_range.copy(), 3)
        
        np.clip(z, a_min=0, a_max=z_max, out=z)
        np.clip(y, a_min=0, a_max=y_max, out=y)
        np.clip(x, a_min=0, a_max=x_max, out=x)
        
        block = ndr.get_cutout(channel, z, y, x)
        block = pad_block(block, block_range, ndr.max_dimensions)
        
        data[jdx, idx] = block
    print('Finished downloading {} channel'.format(channel))

Start downloading GABA channel
Finished downloading GABA channel
Start downloading GAD2 channel
Finished downloading GAD2 channel
Start downloading Gephyrin channel
Finished downloading Gephyrin channel
Start downloading GluN1 channel
Finished downloading GluN1 channel
Start downloading PSD95 channel
Finished downloading PSD95 channel
Start downloading synapsin channel
Finished downloading synapsin channel
Start downloading TdTomato channel
Finished downloading TdTomato channel
Start downloading VGlut1 channel
Finished downloading VGlut1 channel

In [23]:
np.save('data_isotropic', data)

In [24]:
data.shape

(1078, 8, 15, 9, 9)